body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f5f5f5;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.container {
  max-width: 400px;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
  text-align: center;
  border-radius: 12px;
}

h1 {
  margin-top: 0;
  color: #333;
}

.location-input {
  margin-bottom: 20px;
}

#location-input {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  outline: none;
  width: 70%;
  transition: border-color 0.3s ease;
}

#location-input:focus {
  border-color: #4CAF50;
}

#location-submit {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#location-submit:hover {
  background-color: #45a049;
}

.weather-info {
  display: none;
  margin-top: 20px;
  font-weight: bold;
}

.location, .current-weather {
  margin-bottom: 15px;
}

#weather-icon {
  font-size: 100px;
  color: #333;
}

.temperature {
  font-size: 24px;
  font-weight: bold;
}

.wind-speed {
  color: #666;
}

.footer {
  background-color: transparent;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 10px;
  text-align: center;
  z-index: 999;
}

.social-icons a {
  color: #333;
  text-decoration: none;
  margin: 0 15px;
  font-size: 24px;
}
